:root {
  --border: none;
  --outline: none;
  --cursor: pointer;
  --grid-color: rgb(112, 112, 112);
  --grid-color-active: #ff4747;
  --form-btn-color: #e056fd;
  --mrg-right: 1rem;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  background-color: #e4e4e4b6;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.425)),
    url('./img/moon.jpg');
  background-size: cover;
  background-position: center;
  padding: 15rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--white);
}

header > a {
  text-decoration: none;
  color: inherit;
}

.form-input:focus-within {
  box-shadow: 0.3rem 0.2rem 3rem 0.5rem rgba(255, 255, 255, 0.404);
  transform: translateY(-2px);
}

.form-input {
  font-size: 1.6rem;
  width: 50rem;
  padding: 1.3rem 3.5rem;
  border: var(--border);
  border-radius: 100px;
  outline: none;
  transition: transform 0.2s ease;
  margin-top: 1.4rem;
}

/* .form-btn {
  color: var(--white);
  border: var(--border);
  outline: var(--outline);
  padding: 1.16rem 3rem;
  border-radius: 100px;
  cursor: var(--cursor);
  transition: transform 0.3s ease;
  font-size: 1.4rem;
  font-family: 'Poppins', sans-serif;
  margin-left: -2.5rem;
  background-color: var(--form-btn-color);
}
.form-btn:hover {
  transform: scale(1.05);
}

.fa-search {
  margin-right: 0.7rem;
} */

.main-container {
  display: grid;
  padding: 4rem 30rem;
  justify-items: center;
}

.header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 2.5rem;
}

.view {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  justify-self: end;
  font-size: 1.8rem;
}

.results {
  margin-right: auto;
  position: absolute;
  margin: 3rem 0 0 10rem;
}

select {
  font-size: 1.6rem;
  padding: 1rem 1.2rem;
  background-color: rgba(255, 68, 0, 0.514);
  cursor: var(--cursor);
  outline: var(--outline);
  border: var(--border);
  border-radius: 3px;
}

.fa-bars,
.fa-th-large {
  font-size: 2.5rem;
  color: var(--grid-color);
  cursor: var(--cursor);
}

.fa-bars {
  color: var(--grid-color-active);
}

.img-row {
  width: 100rem;
  background-color: rgba(189, 189, 189, 0.219);
  margin: 2rem 0;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 40px;
}

.img {
  object-fit: cover;
  display: block;
  width: 30rem;
  height: 25rem;
  border-radius: 3px;
  cursor: var(--cursor);
}

.img-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-basis: 45%;
  position: relative;
}

.likes,
.favorites,
.comments,
.user {
  margin-right: var(--mrg-right);
  display: flex;
  align-items: center;
}

.user {
  position: absolute;
  left: -14rem;
}

.user a {
  text-decoration: none;
  color: inherit;
}

.likes,
.favorites,
.user,
.comments {
  border-right: 2px solid var(--grid-color);
  padding-right: 1rem;
}

.fa-thumbs-up,
.fa-star,
.fa-comment,
.fa-user {
  margin-right: var(--mrg-right);
  height: 21px;
}

.fa-user {
  color: #03a9f4;
  font-size: 2rem;
}

.page-btn {
  text-decoration: none;
  padding: 0.8rem 1rem;
  border-radius: 100px;
  border: 0;
  background-color: rgb(219, 104, 241);
  cursor: pointer;
  outline: var(--outline);
  color: var(--white);
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-gap: 2rem;
  width: 100%;
  margin-bottom: 5rem;
}

.image-grid.active .img-info {
  transform: translateY(-90%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0, transparent);
  color: white;
  padding: 0.8rem 0;
  border-radius: 4px;
  justify-content: space-between;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: transform 0.5s ease;
}

.row-grid:hover .img-info {
  transform: translateY(-105%);
  opacity: 1;
  pointer-events: all;

}
.image-grid.active .img-info > .user {
  position: relative;
  left: 0;
}

.image-grid.active .img {
  width: 100%;
  height: 25rem;
}

.row-grid {
  height: 250px;
}
